<header class="layout-header">
    <img class="header-image" src="Images/BW-Kati'sChords.jpg" alt="Kati's Chords logo" />
    <div class="header-text">
        <h1 class="shop-title">Kati's Chords</h1>
        <p class="shop-tag">The place to be for some alt-pop or experimental music</p>
    </div>
</header>