@inherits LayoutComponentBase

<div>
    <LayoutHeader />
    <NavMenu />

    <main class="page-main">
        <article class="page-body">
            @Body
        </article>
    </main>

    <LayoutFooter />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
