<nav class="nav-page">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="/records/{AlbumId:int}/edit" Match="NavLinkMatch.All">Update</NavLink>
</nav>